@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'bilo';
		font-style: normal;
		font-weight: 300;
		src: url('/fonts/bilo-light.woff') format('woff'),
			url('/fonts/bilo-light.woff2') format('woff2'),
			url('/fonts/bilo-light.otf') format('opentype');
		font-display: swap;
	}

	@font-face {
		font-family: 'bilo';
		font-style: normal;
		font-weight: 400;
		src: url('/fonts/bilo-regular.woff') format('woff'),
			url('/fonts/bilo-regular.woff2') format('woff2'),
			url('/fonts/bilo-regular.otf') format('opentype');
		font-display: swap;
	}

	@font-face {
		font-family: 'bilo';
		font-style: normal;
		font-weight: 500;
		src: url('/fonts/bilo-medium.woff') format('woff'),
			url('/fonts/bilo-medium.woff2') format('woff2'),
			url('/fonts/bilo-medium.otf') format('opentype');
		font-display: swap;
	}

	body {
		@apply text-lg font-normal;
	}

	:root {
		--size-header-height: theme('spacing.16');
	}

	main {
		margin-top: var(--size-header-height);
		min-height: calc(100vh - var(--size-header-height));
	}

	@media screen(md) {
		:root {
			--size-header-height: theme('spacing.20');
		}
	}

	@media screen(lg) {
		:root {
			--size-header-height: theme('spacing.28');
		}
	}
}

@layer components {
	.header {
		grid-template-columns:
			minmax(var(--size-header-height), auto)
			1fr
			minmax(var(--size-header-height), auto);
		grid-template-areas: 'search logo more';
	}

	.logo {
		grid-area: logo;
	}

	.more {
		grid-area: more;
	}

	@keyframes smoothColor {
		0% {
			stroke: theme('colors.orange.DEFAULT');
		}
		50% {
			stroke: theme('colors.green.DEFAULT');
		}
		100% {
			stroke: theme('colors.orange.DEFAULT');
		}
	}

	.letter-o {
		stroke-width: 1rem;
		stroke-linecap: round;
		stroke-miterlimit: 10;
		transform-origin: 137.5px;
		animation: smoothColor 15s infinite;
	}

	.searchbar {
		right: calc(100% - var(--size-header-height));
	}

	.search-input {
		width: calc(100% - var(--size-header-height));
	}
}
