@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'bilo';
		font-style: normal;
		font-weight: 300;
		src: url('/fonts/bilo-light.woff') format('woff'),
			url('/fonts/bilo-light.woff2') format('woff2'),
			url('/fonts/bilo-light.otf') format('opentype');
		font-display: swap;
	}

	@font-face {
		font-family: 'bilo';
		font-style: normal;
		font-weight: 400;
		src: url('/fonts/bilo-regular.woff') format('woff'),
			url('/fonts/bilo-regular.woff2') format('woff2'),
			url('/fonts/bilo-regular.otf') format('opentype');
		font-display: swap;
	}

	@font-face {
		font-family: 'bilo';
		font-style: normal;
		font-weight: 500;
		src: url('/fonts/bilo-medium.woff') format('woff'),
			url('/fonts/bilo-medium.woff2') format('woff2'),
			url('/fonts/bilo-medium.otf') format('opentype');
		font-display: swap;
	}

	body {
		@apply text-lg font-normal;
	}
}

@layer components {
	.header {
		grid-template-columns:
			minmax(theme('spacing.24'), auto)
			1fr
			minmax(theme('spacing.24'), auto);
	}

	@keyframes smoothColor {
		0% {
			stroke: theme('colors.orange.DEFAULT');
		}
		50% {
			stroke: theme('colors.green.DEFAULT');
		}
		100% {
			stroke: theme('colors.orange.DEFAULT');
		}
	}

	.letter-o {
		stroke-width: 1rem;
		stroke-linecap: round;
		stroke-miterlimit: 10;
		transform-origin: 137.5px;
		animation: smoothColor 15s infinite;
	}
}
